
.console 
{ 		
	background-color: #ffffff;
	text-align: left;
	overflow: auto;
	font-family: courier; 
	font-size: 11px;
	border: 1px solid black;
	padding: 2px;
	margin: 0px;
	
	visibility: hidden;
	position: absolute;
	left: 2px;
	top: 20px;
	width: 540px;
	height: 345px;
}	

.mainborder
{
	border: 1px solid black;
	border-style:solid;
	border-color: #444444;
	border-left-width:3px;
	border-top-width:22px;
	border-right-width:3px;
	border-bottom-width:3px;
	
	-webkit-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.75);		
}

tr
{
	margin: 0px;
	padding: 0px;
}

td
{
	font-family: Verdana;
	font-size: 10pt;
	margin: 0px;
	padding: 0px;
	border: 0px solid red;
}